.ui-datetime-range {
	.ui-datetime-display-list {
		margin-bottom: .16rem;
		box-shadow: 1px 0 2px #dedede;
		background-color: #fff;
		.ui-display-item {
			width: 50%;
			float: left;
		}
	}
	.ui-datetime-picker-container {
		padding: .1rem;
		background-color: #fff;
	}
}