#insurance_price_01 .header {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #eff2f7;
  font-size: 0.15rem;
  color: #999;
  text-align: center;
}
#insurance_price_01 .header li {
  float: left;
  width: 25%;
  position: relative;
}
#insurance_price_01 .header li span {
  background-color: #ccc;
  position: absolute;
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  left: 0.04rem;
  border-radius: 0.08rem;
  top: 0.16rem;
  line-height: 0.16rem;
  color: #fff;
  font-size: 0.12rem;
}
#insurance_price_01 .header li h3 {
  margin-left: 0.18rem;
  font-size: 0.13rem;
}
#insurance_price_01 .header .selected {
  background-color: #55d368;
  color: #fff;
}
#insurance_price_01 .header .selected span {
  color: #55d368;
  background-color: #fff;
}
#insurance_price_01 .header .over_select {
  color: #55d368;
}
#insurance_price_01 .header .over_select span {
  color: #fff;
  background-color: #55d368;
}
#insurance_price_01 .price {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #eff2f7;
  padding: 0 0.15rem;
}
#insurance_price_01 .price span {
  color: #666666;
  font-size: 0.13rem;
}
#insurance_price_01 .price i {
  font-style: normal;
  color: #999;
  font-size: 0.11rem;
}
#insurance_price_01 .price input {
  border: none;
  width: 28%;
  background-color: #eff2f7;
  float: right;
  color: #ff8903;
  font-size: 0.14rem;
  height: 0.5rem;
  line-height: 0.5rem;
}
#insurance_price_01 .btns {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.64rem;
}
#insurance_price_01 .btns .get_price {
  display: inline-block;
  width: 80%;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
  font-size: 0.16rem;
  border: none;
  border-radius: 0.05rem;
  background-color: #ff8903;
}
