#washcar{

  dl{
    margin-bottom: 0.6rem;
  }
  .detail_common_wrap{
    height: 0.9rem;
    padding: 0.075rem 0;
    background-color: #eff2f7;
    margin-top: 0.2rem;
    h3{
      float: left;
      width: 13.3%;
      height: 0.75rem;
      line-height: 0.75rem;
      text-align: center;
      border-right: 1px solid #ccc;
      font-size: 0.11rem;
      color: #ff8903;
    }
    img{
      width: 0.55rem;
      height: 0.4rem;
      float: left;
      margin: 0.2rem 4%;
      line-height: 0.75rem;
    }
    span{
      vertical-align: text-bottom;
      font-size: 0.11rem;
      color: #666666;
      margin: 0 0.1rem;
    }
    .detail{
      margin-left: 27.3%;
      line-height: 0.24rem;
      border-left: 1px solid #ccc;
      padding-left: 0.1rem;
      li{
        position: relative;
      }
      i{
        color: #999999;
        font-size: 0.12rem;
        font-style: normal;
        vertical-align: text-bottom;
        margin-right: 0.3rem;
      }
      .i_right{
        position: absolute;
        right: 0.5rem;
      }
      strong{
        font-size: 0.12rem;
        font-weight: bold;
        color: #666666;
      }
      span{
        font-size: 0.12rem;
        margin: 0 0.2rem 0 0;
      }
      label{
        color: #ff8903;
        font-size: 0.12rem;
        position: absolute;
        right: 0.5rem;
      }
      .middle_line{
        margin-bottom: 0.04rem;
      }
      a{
        // display: inline-block;
        // width: 100%;
      }
      img{
        width: 0.5rem;
        height: 0.28rem;
        position: absolute;
        right: 0;
        border: none;
      }
    }
    
  }

}