#maintain_order dd {
  background-color: #eff2f7;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.15rem;
  padding-right: 0.15rem;
}
#maintain_order dd img {
  width: 0.5rem;
  height: 0.5rem;
  float: left;
}
#maintain_order dd .common {
  position: relative;
}
#maintain_order dd .common label {
  color: #666;
  font-size: 0.16rem;
  position: absolute;
  right: 33%;
  z-index: 100;
}
#maintain_order dd .common .car_num {
  background-color: #fff;
  height: 0.38rem;
  border: 2px solid #3786ff;
  margin-top: -0.05rem;
  width: 40%;
}
#maintain_order dd .common h3,
#maintain_order dd .common span {
  color: #666;
  font-size: 0.13rem;
  display: inline-block;
  height: 0.3rem;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  padding-left: 0.1rem;
  line-height: 0.3rem;
}
#maintain_order dd .common input {
  position: absolute;
  right: 0;
  top: 0.1rem;
  margin: 0;
  padding: 0;
  height: 0.3rem;
  width: 60%;
  border: none;
  font-size: 0.13rem;
  padding-right: 0.03rem;
  color: #999;
  text-align: right;
  background-color: #eff2f7;
}
#maintain_order dd .common .comment {
  width: 50%;
  background-color: #fff;
}
#maintain_order .tips {
  height: 0.1rem;
  line-height: 0.1rem;
  background-color: #fff;
}
#maintain_order .tips p {
  font-size: 0.13rem;
  color: #999999;
  float: right;
}
#maintain_order .tips .blue {
  color: #0379ff;
}
#maintain_order .btns_wrap {
  position: relative;
  height: 1.4rem;
}
#maintain_order .btns {
  position: absolute;
  left: 4%;
  right: 4%;
  bottom: 0.7rem;
}
#maintain_order .btns input,
#maintain_order .btns a {
  display: inline-block;
  text-align: center;
  width: 47.6%;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
  font-size: 0.16rem;
  border: none;
  border-radius: 0.05rem;
}
#maintain_order .btns .price {
  background-color: #fff;
  color: #ff8903;
  border: 1px solid #ccc;
  text-align: center;
}
#maintain_order .btns .order {
  background-color: #55d368;
  margin-left: 2%;
}
