.ui-year-selector{
	width: 100%;
	font-size: 0;
	margin-bottom: .12rem;
	.ui-year {
		display: inline-block;
		width: 33.3%;		
		color: #d6d6d6;
		font-size: .12rem;
		cursor: pointer;
		&:first-child {
			text-align: left;
		}
		&:last-child{
			text-align: right;
		}
		&.selected {
			text-align: center;
			color: #333;
		}
	}
}