#service {
  margin-bottom: 0.58rem;
}
#service .content {
  margin: 0.04rem 1.5% 0 1.5%;
  border-radius: 0.05rem;
  height: 1.78rem;
  overflow: hidden;
  width: 97%;
}
#service .content .left_wrap {
  float: left;
  width: 38%;
  height: 100%;
  background-color: #ffcc00;
  position: relative;
  background-size: 42% 26%;
  background-repeat: no-repeat;
  background-position: 0.4rem 0.66rem;
}
#service .content .left_wrap span {
  color: #fff;
  font-size: 0.18rem;
  position: absolute;
  top: 1.2rem;
  left: 20%;
}
#service .content .left_wrap i {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  background: url(images/hot.png) left top no-repeat;
  background-size: 100%;
}
#service .content .icon_11 {
  background-image: url(images/11.png);
}
#service .content .icon_21 {
  background-image: url(images/21.png);
}
#service .content .right_wrap {
  margin-left: 39.5%;
  width: 64%;
}
#service .content .right_wrap li {
  background-color: #ff8903;
  height: 0.565rem;
  line-height: 0.565rem;
  margin-right: 0.1rem;
  margin-bottom: 0.05rem;
  background-size: 18% 50%;
  background-repeat: no-repeat;
  background-position: 0.2rem 0.16rem;
}
#service .content .right_wrap li span {
  color: #fff;
  font-size: 0.18rem;
  margin-left: 0.7rem;
}
#service .content .right_wrap .icon_12 {
  background-image: url(images/12.png);
}
#service .content .right_wrap .icon_13 {
  background-image: url(images/13.png);
}
#service .content .right_wrap .icon_14 {
  background-image: url(images/14.png);
}
#service .content .right_wrap .icon_22 {
  background-image: url(images/22.png);
}
#service .content .right_wrap .icon_23 {
  background-image: url(images/23.png);
}
#service .content .right_wrap .icon_24 {
  background-image: url(images/24.png);
}
#service .content .right_wrap .handle_right_color {
  background-color: #55d368;
}
#service .content .handle_color {
  background-color: #00cc99;
}
