#mycoupons .nav-tabs {
  overflow: hidden;
}
#mycoupons .nav-tabs li {
  width: 50%;
  height: 0.5rem;
  line-height: 0.5rem;
  float: left;
  background-color: #eff2f7;
  background-image: url(images/icon_02.png);
  background-repeat: no-repeat;
  background-size: 20% 60%;
  background-position: 0.18rem 0.1rem;
  position: relative;
}
#mycoupons .nav-tabs li h4 {
  display: inline;
  color: #666;
  font-size: 0.18rem;
  margin-left: 0.6rem;
}
#mycoupons .nav-tabs li span {
  background-color: #ff8903;
  text-align: center;
  position: absolute;
  display: inline-block;
  width: 0.24rem;
  height: 0.24rem;
  right: 0.34rem;
  border-radius: 0.12rem;
  top: 0.13rem;
  line-height: 0.24rem;
  color: #fff;
  font-size: 0.16rem;
}
#mycoupons .nav-tabs .active {
  background-color: #55d368;
  background-image: url(images/icon_01.png);
}
#mycoupons .nav-tabs .active h4 {
  display: inline;
  color: #fff;
  font-size: 0.18rem;
  margin-left: 0.6rem;
}
#mycoupons dl {
  margin-bottom: 0.6rem;
}
#mycoupons .detail_common_wrap {
  background-color: #eff2f7;
  height: 1.28rem;
  margin-top: 0.15rem;
  position: relative;
}
#mycoupons .detail_common_wrap .top_bg {
  width: 100%;
}
#mycoupons .detail_common_wrap h3 {
  float: left;
  width: 13.3%;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  border-right: 1px solid #ccc;
  font-size: 0.14rem;
  color: #ff8903;
}
#mycoupons .detail_common_wrap .right_wrap {
  position: absolute;
  right: 0;
  top: 0.5rem;
}
#mycoupons .detail_common_wrap .right_wrap .orange {
  color: #ff8903;
  font-size: 0.2rem;
}
#mycoupons .detail_common_wrap .right_wrap .no_color {
  color: #999;
}
#mycoupons .detail_common_wrap .right_wrap img {
  width: 0.5rem;
  height: 0.28rem;
  float: right;
}
#mycoupons .detail_common_wrap .detail {
  margin-left: 17.3%;
  position: relative;
}
#mycoupons .detail_common_wrap .detail li {
  height: 0.28rem;
  line-height: 0.28rem;
}
#mycoupons .detail_common_wrap .detail i {
  display: inline-block;
  color: #999999;
  font-size: 0.14rem;
  font-style: normal;
  line-height: 0.2rem;
  width: 60%;
}
#mycoupons .detail_common_wrap .detail strong {
  font-size: 0.14rem;
  color: #666;
}
#mycoupons .detail_common_wrap .detail span {
  font-size: 0.15rem;
  color: #666666;
}
#mycoupons .detail_common_wrap .detail label {
  color: #fff;
  display: inline-block;
  background-color: #ff8903;
  font-size: 0.11rem;
  border-radius: 0.03rem;
  height: 0.2rem;
  line-height: 0.2rem;
  margin-left: 0.1rem;
  position: absolute;
  right: 0.5rem;
  top: 0.03rem;
  padding: 0 0.04rem;
}
#mycoupons .detail_common_wrap a {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 86%;
  height: inherit;
}
