.ui-datetime-display {
	width: 100%;
	background: #fff;
	text-align: center;
	.label {
		padding-top: .08rem;
		color: #858585;
		font-size: .1rem;
	}
	.main {
		padding: .08rem 0;
		color: #333;
		font-size: .12rem;
	}

	&.selected {
		background: #ff6d41;
		.label {
			padding-top: .08rem;
			color: #ffc5b3;
			font-size: .1rem;
		}
		.main {
			padding: .08rem 0;
			color: #fff;
			font-size: .12rem;
		}
	}
}