#handle dl {
  margin-bottom: 0.64rem;
}
#handle dd {
  background-color: #eff2f7;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.15rem;
  padding-right: 0.15rem;
}
#handle dd img {
  width: 0.5rem;
  height: 0.5rem;
  float: left;
}
#handle dd .common {
  position: relative;
}
#handle dd .common span {
  color: #666;
  font-size: 0.13rem;
  display: inline-block;
  height: 0.3rem;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  padding-left: 0.1rem;
  line-height: 0.3rem;
}
#handle dd .common strong {
  color: #ff8903;
}
#handle dd .common i {
  font-style: normal;
  padding: 0.05rem 0.04rem;
  position: absolute;
  left: 50%;
  border-radius: 0.03rem;
  background-color: #fe8f12;
  display: inline-block;
  width: 0.36rem;
  line-height: 0.14rem;
  text-align: center;
  top: 0.12rem;
  color: #fff;
  font-size: 0.11rem;
}
#handle dd .common .btns {
  color: #fff;
  background-color: #55d368;
  padding: 0.01rem 0.1rem;
  font-size: 0.13rem;
  border-radius: 0.05rem;
  position: absolute;
  display: inline-block;
  height: 0.36rem;
  line-height: 0.36rem;
  right: 0;
  top: 0.06rem;
  width: 0.54rem;
  text-align: center;
}
#handle dd .common .bg {
  background-color: #fe8f12;
}
