<!DOCTYPE html>
<html>
<head>
	<?php 
		//设置静态资源加载方案控制开关
		ICT_View::block('static_load_type', function(){
			if(isset($_GET["debug"]) && $_GET["debug"] == true){
	            ICT_View::setStaticLoadType(ICT_View::STATIC_DEBUG_LOAD_TYPE);
	        }else{
	        	// ICT_View::setStaticLoadType(ICT_View::STATIC_NORMAL_LOAD_TYPE);
	        	ICT_View::setStaticLoadType(ICT_View::STATIC_LS_LOAD_TYPE);
				ICT_View::setCssLS(false);
	        }
		});
	?>
	<link href="//cdn.ppzuche.com" rel="dns-prefetch">
	<title><?php ICT_View::block('title') ?></title>
	<meta charset="utf-8">
	<?php ICT_View::block('viewport', function ( $vars ) { ?>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<?php }) ?>
	<meta content="telephone=no" name="format-detection">
	<meta content="address=no" name="format-detection">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="apple-touch-icon" href="./images/ios-pp-120x120.png">
	<!-- <link rel="stylesheet" href="../../static/ui/icomoon.css"> -->
	
	<!-- 时间统计 -->
	<script data-fixed="true">
		__inline("/static/lib/timing.js");
		window.PPtiming.setSource('mox');
		window.PPtiming.setPath('<?= $vars["ICT_VIEW_PATH"] ?>');
		window.PPtiming.point("fisrtPaintEnd", new Date().getTime());
	</script>

	<!-- meta -->
	<?php ICT_View::block('head_meta') ?>

	<!-- ICT_HEAD_CSS_PLACEHOLDER -->
	<?php ICT_View::block('head_css') ?>

	<?php /**block_mod , 是否开启模块化js，默认开启*/ ?>
	<?php ICT_View::block( 'block_mod_js', function ( $vars ){ ?>
	<script data-fixed="true">
		<?php if(ICT_View::getStaticLoadType() == ICT_View::STATIC_LS_LOAD_TYPE){ ?>
			__inline("/static/lib/mod-ls.js");
		<?php }else{ ?>
			__inline("/static/lib/mod.js");
		<?php } ?>
	</script>
	<script data-position="head" src="/static/lib.js"></script>
	<script type="text/javascript">
		if ('addEventListener' in document) {
		    document.addEventListener('DOMContentLoaded', function() {
		        FastClick.attach(document.body);
		    }, false);
		};
	</script>
	<?php }) ?>
	
	<?php ICT_View::block('head_js') ?>
	<?php ICT_View::widget('common:widget/google_analytic/google_analytic.html') ?>
	<script data-position="head">
		window.PPtiming.point("jsLibLoadEnd", new Date().getTime());
	</script>
</head>
<body>
	<?php ICT_View::block('header', function ($vars) {} ); ?>

	<?php ICT_View::block('body', function ($vars) {} ); ?>

	<?php ICT_View::block('footer', function ($vars) {} ); ?>

	<?php ICT_View::block('body_js') ?>
	<?php 
		if(ICT_View::getStaticLoadType() == ICT_View::STATIC_LS_LOAD_TYPE){
			echo ICT_View::renderScript();	
		}
	?>
	<!-- ICT_BODY_JS_PLACEHOLDER -->
	<?php ICT_View::block('body_end_js') ?>

	<?php 
		if(ICT_View::getStaticLoadType() != ICT_View::STATIC_LS_LOAD_TYPE){
			echo ICT_View::renderScript();
		}
	?>
	<!-- THX FOR FIS -->

	<?php //百度统计 ?>
	<p class="hide">
	<script  data-fixed="true">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fc1c2646db882937e12572ec40b71a6f8' type='text/javascript'%3E%3C/script%3E"));
	</script>	
	</p>
	<script  data-fixed="true">
		window.onload = function (){
			setTimeout(function() {
				window.PPtiming.report();
			}, 1);
		};
		window.onunload = function (){
			setTimeout(function() {
				window.PPtiming.report();
			}, 1);
		};
	</script>
</body>
</html>
