#award .content {
  position: relative;
}
#award .content a {
  display: inline-block;
  position: absolute;
  width: 1.4rem;
  height: 0.75rem;
  top: 2.9rem;
  border-radius: 0.1rem;
  left: 1rem;
}
