#vip dl {
  margin-bottom: 0.64rem;
}
#vip dd {
  width: 100%;
  background-color: #eff2f7;
  margin-top: 0.15rem;
  padding: 0.1rem 0;
}
#vip dd img {
  width: 0.5rem;
  height: 0.38rem;
  float: left;
}
#vip dd .common {
  font-size: 0.16rem;
  border-left: 1px solid #ccc;
  width: 76%;
  color: #666;
  maregin-left: 0.1rem;
  display: inline-block;
  line-height: 0.38rem;
  padding-left: 0.2rem;
}
#vip dd .common img {
  float: right;
}
#vip dd .common span {
  font-size: 0.16rem;
  color: #666;
}
#vip dd .common i {
  font-size: 0.14rem;
  font-style: normal;
  margin-left: 0.05rem;
}
