
.ui-date-selector {
	width: 100%;
	border-top:  1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	font-size: .12rem;
	cursor: pointer;
	text-align: center;
	padding: .12rem 0 .12rem 0;
	.ui-calendar {
		width: 100%;
		td {
			padding: .2em 0;
			&:nth-child(1), &:nth-child(2), &:nth-child(3) {
				text-align: left;
			}
			&:nth-child(4) {
				width: 4%;
			}
			&:nth-child(5), &:nth-child(6), &:nth-child(7) {
				text-align: right;
			}
			.ui-date-value {
				display: inline-block;
				text-align: center;
				width: 2em;
				height: 2em;
				line-height: 2em;
			}
		}
		.ui-date-week {
			color: #a5a5a5;			
		}
		.ui-date {
			color: #d6d6d6;
			&.rent-all {
				color: #333;
			}
			&.rent-part {
				.ui-date-value {
					position: relative;
					.inner {
						position: absolute;
						z-index: 1;	
						display: block;
						width: 2em;
						height: 2em;
						line-height: 2em;
						text-align: center;					
					}
					&:before {
						content: '';
						border-top: 1px solid #aaa;
						border-left: 1px solid #aaa;
						border-top-left-radius: 2em;
						border-top-right-radius: 2em;
						width: 2em;
						height: 1em;
						position: absolute;
						top: 0;
						left: 0;
					}
					&:after {
						content: '';
						background-color: #aaa;
						border-bottom: 1px solid #aaa;
  						border-right: 1px solid #aaa;
						border-bottom-left-radius: 2em;
						border-bottom-right-radius: 2em;
						width: 2em;
						height: 1em;
						position: absolute;
						bottom: 0;
						left: 0;
						z-index: 0;
					}
				}
			}
			&.selected {				
				.ui-date-value {
					color: #f6f6f6;
					background-color: #333;
					border-radius: 50%;
					&:before, &:after {
						display: none;
					}
				}
			}
			&.rent-no {
				.ui-date-value {
					border: 1px solid #aaa;
					background-color: #aaa;
					border-radius: 50%;
				}
			}
		}
	}

	.ui-date-selector-info {
		margin-top: .08rem;
		text-align: left;
		.item {
			font-size: .1rem;
			color: #555;
			height: 1.2em;
			line-height: 1.2em;
			display: inline-block;
			margin-right: .08rem;
			.rent-no {
				background-color: #aaa;
				border-radius: 50%;
				display: inline-block;
				width: 1em;
				height: 1em;
			}
			.rent-part {
				position: relative;
				display: inline-block;
				font-size: .1rem;
				width: .1rem;
				height: .1rem;
				&:before {
					content: '';
					border-top: 1px solid #aaa;
					border-left: 1px solid #aaa;
					border-top-left-radius: .1rem;
					border-top-right-radius: .1rem;
					width: .1rem;
					height: .05rem;
					position: absolute;
					top: 0;
					left: 0;
				}
				&:after {
					content: '';
					background-color: #aaa;
					border-bottom: 1px solid #aaa;
  					border-right: 1px solid #aaa;
					border-bottom-left-radius: .1rem;
					border-bottom-right-radius: .1rem;
					width: .1rem;
					height: .05rem;
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 0;
				}
			}
		}
	}
}