#insurance_price_02 .header {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #eff2f7;
  font-size: 0.15rem;
  color: #999;
  text-align: center;
}
#insurance_price_02 .header li {
  float: left;
  width: 25%;
  position: relative;
}
#insurance_price_02 .header li span {
  background-color: #ccc;
  position: absolute;
  display: inline-block;
  width: 0.16rem;
  height: 0.16rem;
  left: 0.04rem;
  border-radius: 0.08rem;
  top: 0.16rem;
  line-height: 0.16rem;
  color: #fff;
  font-size: 0.12rem;
}
#insurance_price_02 .header li h3 {
  margin-left: 0.18rem;
  font-size: 0.13rem;
}
#insurance_price_02 .header .selected {
  background-color: #55d368;
  color: #fff;
}
#insurance_price_02 .header .selected span {
  color: #55d368;
  background-color: #fff;
}
#insurance_price_02 .header .over_select {
  color: #55d368;
}
#insurance_price_02 .header .over_select span {
  color: #fff;
  background-color: #55d368;
}
#insurance_price_02 dd {
  background-color: #eff2f7;
  height: 0.5rem;
  line-height: 0.5rem;
  margin-top: 0.15rem;
  padding-right: 0.15rem;
}
#insurance_price_02 dd img {
  width: 0.5rem;
  height: 0.5rem;
  float: left;
}
#insurance_price_02 dd .common {
  position: relative;
}
#insurance_price_02 dd .common label {
  color: #666;
  font-size: 0.16rem;
  position: absolute;
  right: 33%;
  z-index: 100;
}
#insurance_price_02 dd .common .car_num {
  background-color: #fff;
  height: 0.38rem;
  border: 2px solid #3786ff;
  margin-top: -0.05rem;
  width: 40%;
}
#insurance_price_02 dd .common span {
  color: #666;
  font-size: 0.13rem;
  display: inline-block;
  height: 0.3rem;
  border-left: 1px solid #ccc;
  vertical-align: middle;
  padding-left: 0.1rem;
  line-height: 0.3rem;
}
#insurance_price_02 dd .common input {
  position: absolute;
  right: 0;
  top: 0.1rem;
  margin: 0;
  padding: 0;
  height: 0.3rem;
  width: 60%;
  border: none;
  font-size: 0.13rem;
  padding-right: 0.03rem;
  color: #999;
  text-align: right;
  background-color: #eff2f7;
}
#insurance_price_02 dd .common .comment {
  background-color: #fff;
}
#insurance_price_02 dd select {
  margin-top: 0.08rem;
  float: right;
  border: none;
  padding: 0.05rem;
  font-size: 0.16rem;
  color: #666;
}
#insurance_price_02 .tips {
  height: 0.1rem;
  line-height: 0.1rem;
  background-color: #fff;
}
#insurance_price_02 .tips p {
  font-size: 0.13rem;
  color: #999999;
  float: right;
}
#insurance_price_02 .btns {
  width: 100%;
  text-align: center;
  margin: 0.3rem 0 0.64rem 0;
}
#insurance_price_02 .btns .post {
  display: inline-block;
  width: 80%;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
  font-size: 0.16rem;
  border: none;
  border-radius: 0.05rem;
  background-color: #ff8903;
}
