/* 
* @Author: gaofeng
* @Date:   2014-12-11 14:51:38
* @Last Modified time: 2014-12-12 21:49:47
*/
/*
  Set the color of the icon
*/
#pp-loading{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 65535;

    .loading-wrap{
        background: rgba(0,0,0,0.8);
        color: #eee;
        margin: auto;
        height: 0.6rem;
        width: 0.55rem;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.1rem;
        text-align: center;
    }
    svg{
        width: 80%;
        height: 68%;
        margin: 0 auto;
    }

    svg path,
    svg rect{
      fill: #eee;
    }
}

